name: NodeJS with Webpack

on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
    
    steps:
    - uses: actions/checkout@v3

    - uses: actions/checkout@v3
      name: checkout page
      with:
        ref: page
        path: page

    - name: clean
      run: |
        cd page
        rm ./* -rf
        cd ..


    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build
      run: |
        npm install
        npm run generate
        npm run build

    - name: deploy
      run: |
        cp build/* page/*
        cd page
        git commit --amend --untracked-files 
        git push --force

